* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #111;
    color: #eee;
    font-size: 1.25rem;
}


header {
    min-height: 100svh;
    background-image: radial-gradient(circle at 25% 65%, #000, #222);

    background-color: #0d0d0d;
    /* color: var(--font-clr); */
    background-image: radial-gradient(circle at 30rem 38rem, #000, #000 15rem, #1111 15rem),
                      radial-gradient(circle at 36rem 38rem, #090909, #090909 28rem, #1111 28rem),
                      radial-gradient(circle at 46rem 38rem, #0b0b0b, #0b0b0b 46rem, #1111 46rem);
    
    padding: 15rem 20rem;
    display: grid;
    place-items: end start;

    & nav {
        text-align: center;
        padding-block: 2rem 1rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: yellow;
        color: #222;
    }

    & .title {
        letter-spacing: 6px;
        -webkit-text-stroke: 3px yellow;
        color: transparent;
        line-height: .55;
        font-size: 6rem;

        & .accent {
            letter-spacing: 1px;
            -webkit-text-stroke: 0;
            font-size: 2.5rem;
            color: #eee;
        }
    }
}

main {
    max-width: 50rem;
    margin: 5rem auto;
}

section {
    margin: 10rem 0;
}
section > * {
    margin: 1rem 0;
    text-wrap: pretty;
}

.reveal-effect {
    text-align: center;

    & h3 {
        font-size: 3rem;
    }

    & p {
        font-size: 1.5rem;
    }
}

.reveal-effect span {
    color: hsl(0 0% 100% / .1);
    /* background-image: linear-gradient(90deg, red, blue); */
    background-image: linear-gradient(90deg, #fff, #fff);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
    /* view() means the animation starts when elem enters viewport and finishes when it exits */
}

/* cover means as soon as elems enter the viewport */
/* contain means when entire elem is inside of the viewport */
.reveal-effect h3 span {
    background-image: linear-gradient(90deg, yellow, yellow);
    animation-range-start: cover 30vh;
    animation-range-end: cover 45vh;
}

.reveal-effect p span {
    animation-range-start: cover 35vh;
    animation-range-end: cover 50vh;
}

@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
}

footer {
    text-align: center;
    padding: .5rem;
    background-color: yellow;
    color: #222;

    & a {
        text-decoration: none;
    }
}